
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#MainNav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
   flex-wrap: wrap;
    /* box-shadow: 0px 5px 6px lightgray; */
    /* margin-bottom: 1.5rem; */
}

#MainNav ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}



#MainNav ul li
{
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    padding: 1rem;
}

#MainNav ul li:hover
{ background:rgb(98, 103, 208);

    background: linear-gradient(225deg, rgb(98, 103, 208) 0%, rgb(163, 52, 52) 100%);
    
    background: -moz-linear-gradient(225deg, rgb(98, 103, 208)  0%, rgb(163, 52, 52) 100%);
    
    background: -webkit-linear-gradient(225deg, rgb(98, 103, 208)  0%, rgb(163, 52, 52) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B54F0B", endColorstr="#0F98A7", GradientType=1 );
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E7945D", endColorstr="#24D2E6", GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

    /* padding: 0.5rem 1rem; */
    /* color: violet; */
    /* color: white; */
    /* border-radius: 30px; */
    transform: scale(1.3);
}

.logo_img{
    width: 90px;
    height: 90px;
}


@media (max-width: 650px) {
  .logo_img {
      margin: auto;
  }

  #MainNav ul {
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
  }

}

/* Adjustments for screens larger than 609px */
@media (min-width: 609px) {
  #MainNav {
      justify-content: flex-end;
  }

  .logo_img {
      margin-right: auto;
  }

  #MainNav ul {
      margin-left: 2rem;
  }
}

/* Adjustments for screens larger than 500px */
@media (min-width: 500px) {
  #MainNav ul {
      flex-wrap: wrap;
      column-gap: 0rem;
  }
}

/* Adjustments for screens larger than 900px */
@media (min-width: 900px) {
  #MainNav {
      padding: 0rem 3rem;
  }

  #MainNav ul {
      column-gap: 2rem;
  }

}