.courses_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .courses_img img {
    height: 70vh;
    width: 90%;
    max-width: 1000px; /* Prevents the image from growing too large on large screens */
    object-fit: cover;
  }
  
  .courses {
    background-color: #fcf7f7d1;
    /* padding: 2rem 1rem; */
  }

  
  
  .courses-heading {
    font-size: 4rem;
    background: linear-gradient(225deg, rgb(100, 42, 4) 0%, rgb(5, 72, 80) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  @media (max-width: 1200px) {
    .courses-heading {
      font-size: 3.5rem;
    }
  }
  
  @media (max-width: 992px) {
    .courses-heading {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 768px) {
    .courses-heading {
      font-size: 2.5rem;
    }
  
    .courses_img img {
      height: 60vh;
      width: 95%;
      border: none; /* Removed the red border for better aesthetics */
    }
    
  }
  
  @media (max-width: 576px) {
    .courses-heading {
      font-size: 2rem;
    }
  
    .courses_img img {
      height: 50vh;
      width: 100%;
    }
  }
  